body {
    padding: 20%;
}

.module {
    width: 200px;
    height: 200px;
    background: #d8e066;
    position: relative;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696766;
    font-size: 2rem;
    font-family: sans-serif;
    transition: all 0.5s ease;
}
.module:hover {
    border: 5px solid red;
    box-sizing: border-box;
    color: #ff0000;
}
.module:hover:after {
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}
.module:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: #d8e066;
    z-index: -1;
    border-radius: 50%;
}
